{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="row">
  <div id="form-group" class="col-lg-2">
    <div id= "form">
        {{ wtf.quick_form(form) }}
    </div>

    <div id= "patient-form" style="display:none">
      <hr>
      {{ wtf.quick_form(patient_form) }}
    </div>
  </div>

  <div id= "calendar" class="col-lg-7">

  </div>

  <div id= "patient-info" class="col-lg-3">

  </div>
</div>

<div id = "analytics-charts" class="row">
  <div id="hospital-chart" class="col-lg-6">
    Hospital
  </div>
  <div id="modality-chart" class="col-lg-6">
    Modality
  </div>
</div>

<div id = "past-weeks" class="row">
  <div id="weekm2" class="col-lg-6">
    week minus 2
  </div>
  <div id="weekm1" class="col-lg-6">
    week minus 1
  </div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>

  function load_table(){
    $.getJSON($SCRIPT_ROOT + '/calendar_json', {
      orgcode: $('#orgcode').val(),
      modality: $('#modality').val(),
      departmentcode: $('#departmentcode').val()
    }, function(data) {
      columns_names = data.result.columns_names;
      row_names = data.result.row_names;
      rows = data.result.rows;

      var html = "";
      html+='<table class="table table-bordered"><thead>';
      for (var i=0;i<columns_names.length;i++){
        html+= "<th>" + columns_names[i] + "</th>";
      }
      html+='</thead><tbody>';
      for (var i=0;i<rows.length;i++){
        html+= '<tr>';
        var row_name = row_names[i];
        html+= "<td>" + row_name + "</td>";

        var columns = rows[i];
        for (var j=0;j<columns.length;j++){
          var time_slot = columns[j];
          if (time_slot.status == 0){
            html+= "<td class='time_slot bg-grey' data-exam-id='"+time_slot.exam_id+"'> </td>";
          } else if (time_slot.status == 1) {
            html+= "<td class='time_slot bg-blue' data-exam-id='"+time_slot.exam_id+"' data-toggle='tooltip' data-container='body' title = 'Cancel Probablity: "+time_slot.probability+"'></td>";
          } else {
            html+= "<td class='time_slot'></td>";
          }
        }
      html+= '</tr>';
      }
      html+='</tbody></table>';

      $('#calendar').html(html);
      $('[data-toggle="tooltip"]').tooltip();



    });
  }

  function load_modalities(modalities){
    var $el = $("#modality");
    $el.empty(); // remove old options
    $.each(modalities, function(value, key) {
      $el.append($("<option></option>")
         .attr("value", key).text(key));
      });

  }

  function load_departments(departments){
    var $el = $("#departmentcode");
    $el.empty(); // remove old options
    $.each(departments, function(value, key) {
      $el.append($("<option></option>")
         .attr("value", key).text(key));
      });

  }

  function reset_departments(){
    $("#departmentcode").html('<option value="Choose">Choose</option>')
  }

  function reset_modalities(){
    $("#modality").html('<option value="Choose">Choose</option>')
  }

  function text_info(text){
    return '<span class = "text-info">'+text+'</span>';
  }

  function load_patient_info(patient_info){
    html = '<div class="panel panel-default">';
    html += '<div class="panel-heading">Patient Information</div>';
    html += '<div class="panel-body">';
    html += '<p>Name: '+text_info(patient_info.name)+'</p>';
    html += '<p>Age: '+text_info(patient_info.age)+'</p>';
    html += '<p>Gender: '+text_info(patient_info.gender)+'</p>';
    html += '<p>Email: '+text_info(patient_info.email)+'</p>';
    html += '<p>Phone number: '+text_info(patient_info.telephone)+'</p>';
    html += '</div></div></div>';
    $('#patient-info').html(html);
  }

  function load_patient_form(){
    $('#patient-form').show();
  }

  function create_charts(orgcode, modality){

  }

  $(function() {

    $('#orgcode').change(function() {
      if($('#orgcode').val() == "Choose"){
        reset_modalities();
        reset_departments();
      } else {
        $.getJSON($SCRIPT_ROOT + '/modalities_json', {
          orgcode: $('#orgcode').val()
        }, function(data) {
          load_modalities(data.result);
          reset_departments();
        });
      };
    });

    $('#modality').change(function() {
      if($('#modality').val() == "Choose"){
        reset_departments();
      } else {
      $.getJSON($SCRIPT_ROOT + '/departments_json', {
        orgcode: $('#orgcode').val(),
        modality: $('#modality').val()
      }, function(data) {
        load_departments(data.result);
      });
    };
    });

    $('#departmentcode').change(function(){
      load_table();
      load_patient_form();
      load_charts();
    });

    $("#calendar").on('click', '.time_slot', function(){
      $.getJSON($SCRIPT_ROOT + '/_patient_json', {
        exam_id: $(this).data( "examId" )
      }, function(data) {
        load_patient_info(data.result);
      });
    });

  });

</script>




{% endblock %}
